#wrapper
{
 width:25%;
 height:100%;
 margin:0 auto;
 position:absolute;
 left:35%;
 top:10%;

}

#dHand
{
    margin-bottom: 0;
    color: black;
    font-weight: bold;
}

#pHand
{
    margin-bottom: 0;
    color: black;
    font-weight: bold;
}

#dHandVal
{
    margin-bottom: 5vh;
    font-weight: bold;
}

#pHandVal
{
    margin-bottom: 5vh;
    font-weight: bold;
}
body {
    font-weight: bold;
}

#bet {
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 2vh;
}

.btn {
    font-weight: bold;
    margin-right: 2vh;
    margin-bottom: 2vh;
}

@media only screen and (max-width: 1000px) {
    #wrapper {
        width:80%;
        margin:0 auto;
        position:absolute;
        left:5%;
        top:0%;
    }
    h1 {
        margin-top: 2vh;
    }
    #test {
        height: 10%;
    }
    #dHandVal
    {
    margin-bottom: 3vh;
    }

    #pHandVal
    {
    margin-bottom: 1vh;
    }
  }